.fancybox {
    &__container {
        --fancybox-color: #f5f7f8;
        --fancybox-bg: #a7a7c999;
        --fancybox-opacity: 1;
    }

    &__toolbar {
        --f-button-bg: rgba(0, 0, 0, 0);
    }

    &__backdrop {
        backdrop-filter: blur(10px);
    }

    .is-fullscreen &__content > .f-button.is-close-btn {
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 9999999999;
    }

    .is-fullscreen &__slide {
        padding: 0;
    }

    .is-fullscreen &__content {
        flex-grow: 1 !important;
        width: 100% !important;
        align-self: stretch;
        padding: 0;
        overflow: auto;
    }

    &__slide.has-iframe.has-youtube &__content {
        width: 960px;
        height: auto !important;
        aspect-ratio: 1.77778 / 1;
    }

    // &__container.is-header-dynamic {
    //     .fancybox__content,
    //     .fancybox__slide {
    //         padding: 0;
    //     }

    //     .header-dynamic {
    // //         // height: auto;
    // //         // min-height: 100%;
    //         transform: none;
    // //         overflow: hidden;
    // //         // overflow: auto;
    //     }

    //     .header-dynamic__close {
    //         display: none;
    //     }
    // }
}
