.b-a {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4rem;
  height: 80rem;
  img {
    display: block;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
  }

  &__before {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 50%;

    img {
      max-width: unset;
    }
  }
  &__after {
    height: 100%;
  }

  &__change {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    left: 50%;
    top: 0;
    width: 0.3rem;
    height: 100%;
    // transform: translateX(-50%);
    background-color: #fff;
    cursor: col-resize;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1rem;
      height: 8rem;

      background-image: url("./../img/before-after/arrows.svg");
      background-size: 1.5rem;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
    }
  }
}
