.case {
  padding: 3rem 0 2.6rem;

  &__hero {
    // height: 82rem;
    border-radius: 4rem;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include mobile {
      height: auto;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }
  }
  &__img {
    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__container {
    @include mobile {
      display: none;
    }
    &--mob {
      display: none;

      @include mobile {
        display: block;
      }
    }
  }
}
