.case {
  padding: 13rem 0 2.6rem;
  @include mobile {
    padding: 3rem 0;
  }
  &__hero {
    height: 82rem;
    border-radius: 4rem;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include mobile {
      height: auto;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }

  &__img {
    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
