.clients {
  padding: 3rem 0;
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 4.7rem;
    padding: 2.5rem 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4rem;
    padding: 2.4rem 6rem 2.6rem;
    background-color: var(--white);
    margin-bottom: 3rem;

    @include mobile {
      padding: 3.1rem 4rem 3.9rem;
    }
  }

  &__desc {
    margin-bottom: 3rem;
    border-radius: 4rem;
    padding: 5.2rem 6rem 5.1rem;
    background-color: var(--white);
    @include mobile {
      padding: 4.1rem 4rem;
      font-size: 2rem;
    }
    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 1rem;
        @include mobile {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &__slider {
    cursor: grab;
    padding: 0 calc((100% - var(--content-width)) / 2);
    @include mobile {
      padding: 0 var(--container-offset);
    }
    &:active {
      cursor: grabbing;
    }

    .owl-stage {
      display: flex;
      // transition-timing-function: linear !important;
    }

    @include mobile {
      .item {
        width: auto;
      }
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include mobile {
        margin-bottom: 2rem;
      }
    }
  }

  &__card {
    display: block;
    position: relative;
    height: 33rem;
    background-color: var(--white);
    border-radius: 4rem;
    overflow: hidden;

    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);


    img {
      display: block;
      width: 100%;
      height: 100%;
      user-select: none;
      object-fit: contain;
      transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      filter: brightness(1) contrast(1);
    }
    &[href]{
      cursor: pointer;
      @include hover {
        transform: translateY(-8px) scale(1.02);

        img {
          transform: scale(1.1);
        }
      }
    }

    @include mobile {
      height: 32.6rem;
      width: 42.5rem;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 5;
  }
}
