.contacts {
  padding: 3rem 0;
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 4.5rem;
  }
  &__header {
    margin-bottom: 3rem;

    @include mobile {
      .heading__title {
        padding-top: 2.8rem;
        padding-bottom: 3.7rem;
      }
    }
  }

  &__content {
    min-height: 50rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      gap: 5rem;
    }
  }
  &__address {
    margin-right: calc(-1 * 3rem);
    grid-column: 4 span;
    background: var(--white);
    border-radius: 4rem;
    padding: 3.3rem 6rem;

    @include mobile {
      margin-right: 0;
      padding-bottom: 6.2rem;
    }
  }

  &__map {
    margin-left: 3rem;
    grid-column: 8 span;
    border-radius: 4rem;
    overflow: hidden;
    background: var(--white);
    position: relative;
    @include mobile {
      height: 28.6rem;
      margin: 0;
    }
    #map {
      position: absolute;
      inset: 0;
      z-index: 3;
    }
  }
}
