// ваш код
.header {
  margin: 3rem 0;
  position: relative;
  z-index: 50;
  transition: transform 0.3s, top 0.3s;
  z-index: 100;
  &__burger {
    display: none;
    @include mobile {
      display: block;
      position: relative;
      z-index: 99;
    }
  }
  &__container {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 6rem;
    padding-bottom: 2.6rem;
    padding-right: 5.9rem;
    border-radius: 4rem;
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
    @include mobile {
      padding: 2.8rem 4rem;
      border-radius: 4rem;
    }
  }
  &__overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    // border-radius: 6rem;
  }
  &__nav {
    @include mobile {
      display: none;
    }
  }
  &__socials {
    @include mobile {
      display: none;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      gap: 1rem;
      li {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 1.2rem;

        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--dirty-blue);
            mix-blend-mode: screen;
            opacity: 0;
            transition: opacity 0.3s ease, background-color 0.3s ease-in;
          }
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
        }

        @include hover {
          a::after {
            opacity: 1;
          }
        }
        &:focus {
          outline: none;
          a::after {
            opacity: 1;
          }
        }
        &:active {
          a::after {
            background-color: var(--accent-cyan);
            opacity: 1;
          }
        }
      }
    }
  }

  &__logo {
    margin-top: 0.6rem;
    position: relative;
    z-index: 99;
  }
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header--hidden {
  transform: translateY(-200%);
}
