// ваш код
.header {
  margin: 3rem 0;
  position: relative;
  z-index: 50;
  &__burger {
    display: none;
    @include mobile {
      display: block;
      position: relative;
      z-index: 99;
    }
  }
  &__container {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 6rem;
    padding-right: 5.9rem;

    @include mobile {
      padding: 2.8rem 4rem;
      border-radius: 6rem;
    }
  }
  &__overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 6rem;
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
  }
  &__nav {
    @include mobile {
      display: none;
    }
  }
  &__socials {
    @include mobile {
      display: none;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      gap: 1rem;
      li {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 1.2rem;
        background-color: var(--black);

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__logo {
    margin-top: 0.6rem;
    position: relative;
    z-index: 99;
  }
}
