.hero {
  padding: 2rem 0;
  @include mobile {
    padding: 2.5rem 0;
  }
  &__container {
    height: 79rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mobile {
      height: auto;
    }
  }

  &__overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../img/hero-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 38.5%;

    mask-image: url("./../img/svg/hero-mask.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    @include mobile {
      display: none;
    }
  }

  &__img {
    display: none;
    @include mobile {
      display: block;
      mask-image: url("./../img/mask-mob.svg");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      height: 39.6rem;
      margin-top: -4.4rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: 50% 36%;
    }
  }

  &__title {
    position: relative;
    z-index: 4;
    padding: 6rem;
    background-color: var(--white);
    max-width: 79.5rem;

    mask-image: url("./../img/svg/title-mask.svg");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    @include mobile {
      mask-image: url("./../img/mask-title.svg");
      padding: 3.7rem 4rem 6.6rem;
    }
  }
  &__row {
    &:last-child {
      display: flex;
      justify-content: flex-end;

      @include mobile {
        display: block;
      }
    }
  }
  &__desc {
    position: relative;
    z-index: 4;
    padding: 5.1rem 5.8rem 5.6rem 5.9rem;
    border-radius: 4rem;
    max-width: 42.5rem;
    background-color: var(--white);

    @include mobile {
      max-width: 100%;
      margin-top: 1rem;
      padding: 3.2rem 4rem 3.6rem;
    }
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 2.3rem;
      }
      &:last-of-type {
        @include mobile {
          margin-bottom: 15.3rem;
        }
      }
    }
  }
}
