.nav {
  & > ul {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include mobile {
      flex-direction: column;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      a {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        color: inherit;

        font-family: var(--font-family);
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 120%;
        text-transform: lowercase;
        color: var(--black);
        transition: color 0.2s ease-in;

        @include hover {
          color: var(--accent-cyan);

          svg {
            transform: rotateX(180deg);
          }
        }

      }
      &.current_page_item a {
        color: var(--accent-cyan);
        pointer-events: none;
        cursor: default;
      }

      svg {
        width: 1rem;
        height: 0.6rem;
        fill: currentColor;
        transition: transform 0.2s ease-in;
      }

      & > ul {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        white-space: nowrap;
        z-index: 4;
        border-radius: 1.2rem;
        background-color: var(--white);
        box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
        box-sizing: content-box;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in;
        will-change: max-height;

        li {
          padding: 0.6rem 1.5rem;

          &:first-child {
            padding-top: 1.5rem;
          }
          &:last-child {
            padding-bottom: 1.5rem;
          }
        }
      }
    }

    li.active {
      & > a {
        color: var(--accent-cyan);

        svg {
          transform: rotateX(180deg);
        }
      }
    }
  }
}
