.partners {
  padding: 3rem 0 13rem;
  @include mobile {
  	padding: 2rem 0 7.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4rem;
    padding: 2.4rem 6rem 2.6rem;
    background-color: var(--white);
    margin-bottom: 3rem;

    @include mobile {
      padding: 3.1rem 4rem 3.9rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    min-height: 59.4rem;

    &:not(:last-child){
      margin-bottom: 3rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item-img {
    position: relative;
    border-radius: 4rem;
    overflow: hidden;
    @include mobile {
      height: 33.4rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__item-content {
    padding: 6rem;
    background-color: var(--white);
    border-radius: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 3rem;
    line-height: 150%;
    text-transform: lowercase;
    color: var(--black);
  }

  &__item-about {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: var(--black);
  }

  &__item-desc {
    margin: 0;
    font-weight: 200;
  }

  &__item-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
  }

  &__item-link {
    font-weight: 200;
    font-size: 2rem;
    line-height: 150%;
  }
}

