.portfolio {
  padding: 13rem 0;
  @include mobile {
    padding: 7.5rem 0;
  }
  &--main {
    padding: 3rem 0 13rem;
  }
  &__header {
    margin-bottom: 4.1rem;
    padding: 2.2rem 6rem 3rem;
    background: var(--white);
    border-radius: 4rem;
    @include mobile {
      padding: 3.1rem 4rem 3.9rem;
    }
    &--main {
      background: none;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 3rem;
      padding: 0;
      .portfolio__title {
        border-radius: 4rem;
        padding: 3.8rem 6rem 4rem;
        background: var(--white);
        line-height: 100%;
        @include mobile {
          padding: 3rem 4rem 3.9rem;
          line-height: 120%;
        }
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
  }

  &__title {
    grid-column: 3 span;
  }

  &__buttons {
    grid-column: 9 span;
    border-radius: 4rem;
    padding: 4rem 6rem;
    background: var(--white);

    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex-wrap: wrap;

    @include mobile {
      display: none;
      gap: 1rem;
      justify-content: flex-start;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__btn {
    @include hover {
      color: var(--white);
    }
  }

  &__label input:checked ~ .portfolio__btn {
    background-color: var(--accent-cyan);
    color: var(--white);
  }
}
