.services {
  padding: 3rem 0;
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 3rem;
  }
  &__header {
    margin-bottom: 3.8rem;
    .heading__title {
      padding-top: 2.9rem;
      @include mobile {
        padding-top: 3.2rem;
      }
    }
  }

  &__title {
    line-height: 1;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.service {
  background-color: var(--white);
  border-radius: 4rem;
  overflow: hidden;
  padding: 5.3rem 6rem;
  position: relative;
  height: 50rem;

  @include mobile {
    padding: 4.5rem 4rem;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  &__title {
    margin-bottom: 1.4rem;
    transition: color 0.3s ease-in;
  }

  &__img {
    position: absolute;
    inset: 0;
    pointer-events: none;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 5;
  }

  &__desc {
    p {
      margin: 0;
    }
  }

  @include hover {
    .service__title {
      color: var(--accent-cyan);
    }
  }
}
