.single {
  padding: 3rem 0 10rem;

  &__header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    margin-bottom: 6rem;

    @include mobile {
      margin-bottom: 4rem;
      height: 80vh;
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    grid-column: 4 span;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include mobile {
      padding: 4rem;
      background-color: var(--white);
      border-radius: 4rem;
      gap: 3rem;
    }
  }
  &__cover {
    grid-column: 8 span;
    position: relative;

    border-radius: 4rem;
    overflow: hidden;

    @include mobile {
      flex-grow: 1;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    padding: 5rem 6rem;
    background-color: var(--white);
    border-radius: 4rem;
    @include mobile {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__author {
    padding: 6rem;
    border-radius: 4rem;
    background-color: var(--white);
    @include mobile {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }
}

.author {
  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      width: 4rem;
      height: 4rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: var(--black);
  }

  &__time {
    display: block;
    font-weight: 200;
    font-size: 2rem;
    line-height: 150%;
    color: var(--black);

    @include mobile {
      display: none;
    }

    &_mob {
      display: none;
      @include mobile {
        display: block;
        margin-bottom: -2rem;
      }
    }
  }
}

.text-content {
  margin: 0;
  font-weight: 200;
  font-size: 2rem;
  line-height: 150%;
  color: var(--black);

  * {
    margin: 0;
  }
  h2,
  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    text-transform: lowercase;
    color: var(--black);

    span {
      color: var(--accent-cyan);
    }
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    text-transform: lowercase;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:not(&_separated) {
      @include mobile {
        padding: 4.5rem 4rem;
        background-color: var(--white);
        border-radius: 4rem;
        gap: 4rem;
        & > * {
          border-radius: 0;
          background-color: transparent;
          padding: 0;
        }
      }
    }

    &_nowrap {
      flex-wrap: nowrap;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__block {
    position: relative;
    padding: 6rem;
    border-radius: 4rem;
    background-color: var(--white);
    flex: 1 1 calc(25% - 1.5rem);
    min-width: calc(25% - 1.5rem);

    & > * {
      position: relative;
      z-index: 3;
    }
    &_3 {
      flex: 0 0 calc(25% - 1.5rem);
      min-width: calc(25% - 1.5rem);
    }
    &_4 {
      flex: 0 0 calc(33.333% - 1.5rem);
      min-width: calc(33.333% - 1.5rem);
    }
    &_5 {
      flex: 0 0 calc(41.667% - 1.15rem);
      min-width: calc(41.667% - 1.15rem);
    }
    &_6 {
      flex: 0 0 calc(50% - 1rem);
      min-width: calc(50% - 1rem);
    }
    &_7 {
      flex: 0 0 calc(58.333% - 0.89rem);
      min-width: calc(58.333% - 0.89rem);
    }

    @include mobile {
      padding: 4.5rem 4rem;
      flex: 1;
      min-width: 100%;
    }
  }

  &__block-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: bottom;
    }
  }

  figure {
    border-radius: 4rem;
    overflow: hidden;
    flex-basis: calc(25% - 1rem);
    flex-grow: 1;
    height: auto;

    @include mobile {
      flex-basis: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  p {
    font-family: var(--second-family);
    font-weight: 200;
    font-size: 2rem;
    line-height: 150%;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 0.4em;
    }
  }
  b,
  strong {
    font-weight: 300;
  }

  ul,
  ol {
    padding-left: 2rem;

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }
    &:not(:last-child) {
      margin-bottom: 0.4em;
    }
  }

  .mb-large {
    &:not(:last-child) {
      margin-bottom: 6rem;

      @include mobile {
        margin-bottom: 4rem;
      }
    }
  }
}
