.team {
  padding: 3rem 0;
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 4.5rem;
  }
  &__header {
    margin-bottom: 3rem;
    border-radius: 4rem;
    padding: 2.3rem 6rem 2.7rem;
    background-color: var(--white);

    @include mobile {
      padding: 3rem 4rem 4rem;
    }
  }

  &__desc {
    margin-bottom: 3rem;
    border-radius: 4rem;
    padding: 5.1rem 6rem;
    background-color: var(--white);
    @include mobile {
      padding: 4rem 4rem;
    }
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__slider {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
    .owl-stage-outer {
      padding: 0 calc((100% - var(--content-width)) / 2);

      @include mobile {
        padding: 0 var(--container-offset);
      }
    }
    .owl-stage {
      display: flex;
      transition-timing-function: linear !important;
    }

    .owl-item {
      width: calc(100% / 4 - 26px - var(--container-offset)) !important; // 30px margin / 4 = 7.5px, но учитываем что margin-right у последнего убирается
    }
    .owl-item:last-child {
      margin-right: 0 !important;
    }
    @include mobile {
      .owl-item {
        width: 100% !important;
      }
    }
  }
}

.t-card {
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 3.5rem 4rem;
  border-radius: 4rem;
  overflow: hidden;
  @include mobile {
    width: 42.5rem;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__info {
    position: relative;
    z-index: 5;

    .desc1 {
      color: var(--white);
      line-height: 120%;
      text-transform: lowercase;
    }

    &--dark {
      .desc1 {
        color: var(--black);
      }
    }
  }

  &__name {
    margin-bottom: 0.1rem;
  }

  &__prof {
    font-size: 1.8rem;
  }
}
