.logo {
  width: 18rem;
  height: 2.9rem;

  svg {
    width: 100%;
    height: 100%;
    fill: var(--black);
  }
}

.title1 {
  margin: 0;
  font-weight: 400;
  font-size: 7rem;
  line-height: 100%;
  color: var(--black);

  @include mobile {
    font-size: 4.6rem;
  }
}
.title2 {
  margin: 0;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  text-transform: lowercase;
  color: var(--black);

  @include mobile {
    font-size: 3.6rem;
  }
}
.title3 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  text-transform: lowercase;
  color: var(--black);
}
.desc1 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 2rem;
  line-height: 150%;
  color: var(--black);
  &--300 {
    font-weight: 300;
  }
  &--400 {
    font-weight: 400;
  }
  a {
    color: inherit;
  }
}

.desc2 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);
}

.desc4 {
  margin: 0;
  font-weight: 200;
  font-size: 2rem;
  line-height: 120%;
  text-transform: lowercase;
  color: var(--black);

  &--300 {
    font-weight: 300;
  }
  &--400 {
    font-weight: 400;
  }
}

.link-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-weight: 300;
  font-size: 2.4rem;
  line-height: 120%;
  text-transform: lowercase;
  color: var(--black);

  transition: color 0.3s ease-out;

  @include mobile {
    font-size: 2rem;
  }
  svg {
    fill: none;
    stroke: currentColor;
    width: 1rem;
    height: 2rem;
    stroke-width: 2.42px;
  }
  @include hover {
    color: var(--accent-cyan);
  }

  &:focus {
    outline: none;
    color: var(--accent-cyan);
  }
  &:active {
    color: var(--accent-cyan);
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 5rem 2.3rem;
  border-radius: 2rem;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 120%;
  text-transform: lowercase;
  text-align: right;
  color: var(--black);
  background-color: var(--white);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  &--accent {
    background-color: var(--accent-cyan);
    color: var(--white);
  }
  &--grey {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &--light {
    background-color: rgba(0, 0, 0, 0.02);
  }
  &--small {
    font-size: 1.8rem;
    padding: 1.2rem 3rem 2rem;
    border-radius: 1rem;
  }
  @include hover {
    background-color: var(--dirty-blue);
  }
  &:focus {
    outline: none;
    background-color: var(--dirty-blue);
  }
  &:active {
    background-color: var(--accent-cyan);
  }
  &:disabled {
    background-color: #d2d5d9;
    color: #adafb2;
    cursor: not-allowed;
  }
}

.flex {
  display: flex;
}
.ai-s {
  align-items: flex-start;
}
.ai-e {
  align-items: flex-end;
}
.ai-c {
  align-items: center;
}
.jc-s {
  justify-content: flex-start;
}
.jc-e {
  justify-content: flex-end;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}

.dropdown {
  display: block;
  width: 100%;
  border-radius: 2rem;
  padding: 1.5rem 3rem;
  background: rgba(0, 0, 0, 0.02);
  border: none;

  font-weight: 300;
  font-size: 2rem;
  line-height: 150%;
  text-transform: lowercase;

  transition: color 0.1s ease-out, background-color 0.1s ease-out,
    border-radius 0.1s ease-out;
  position: relative;
  z-index: 4;

  &__header {
    position: relative;
    color: rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease;
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: -1.6rem;
    transform: translateY(-50%);
    width: 0.8rem;
    height: 0.6rem;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }
  &__label {
    position: absolute;
    top: 0rem;
    color: currentColor;
    transition: color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
  }
  &__capture {
    opacity: 0;
    color: currentColor;
    transition: color 0.3s ease, opacity 0.3s ease-in;
  }
  &__body {
    position: absolute;
    z-index: 4;
    left: -2px;
    top: 100%;
    right: -2px;

    box-sizing: content-box;

    max-height: 0;
    transition: max-height 0.2s ease-out;
    will-change: max-height;
    overflow: hidden;
  }

  &__content {
    background: rgba(0, 0, 0, 0.04);
    z-index: 5;
    padding: 0.5rem 3rem 2rem;
    border: 2px solid transparent;
    border-top: none;
    border-radius: 0 0 2rem 2rem;
    transition: color 0.1s ease-out, background-color 0.1s ease-out,
      border-radius 0.1s ease-out;
  }

  &__item {
    cursor: pointer;
    transition: color 0.3s ease-in;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    @include hover {
      color: var(--accent-cyan);
    }
  }

  &.open {
    background: var(--white);
    border-radius: 2rem 2rem 0 0;
    border: 2px solid var(--black);
    border-bottom: none;
    .dropdown__content {
      border-color: var(--black);
      background-color: var(--white);
    }
    .dropdown__header {
      color: var(--black);
    }

    @include hover {
      .dropdown {
        &__capture {
          color: var(--black);
        }
        &__label {
          color: var(--black);
        }
      }
    }
  }
  &.filled {
    .dropdown__capture {
      color: var(--black);
    }
    .dropdown__label {
      transform: translateY(-1.6rem);
      font-size: 1.2rem;
    }
    .dropdown__capture {
      opacity: 1;
    }
    @include hover {
      .dropdown__capture {
        color: var(--black);
      }
    }
  }
  &.open.filled {
    .dropdown__capture {
      color: var(--black);
    }
  }
  @include hover {
    .dropdown {
      &__capture {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.heading {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  min-height: 16.8rem;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    align-items: center;
    grid-column: 3 span;
    background-color: var(--white);

    border-radius: 4rem;
    padding: 3.5rem 6rem;

    @include mobile {
      padding: 3.5rem 4rem 4rem;
    }
  }

  &__desc {
    background: var(--white);
    grid-column: 9 span;
    border-radius: 4rem;
    padding: 3.3rem 6rem;
    @include mobile {
      padding: 4.2rem 4rem;
    }
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1.4rem;
      }
    }

    a {
      font-weight: inherit;
      font-size: inherit;
      text-decoration: underline;
      text-transform: inherit;
    }
  }

  &--only {
    display: block;
  }
}

.marker {
  flex-shrink: 0;
  width: 6rem;
  height: 7rem;
  background-image: url("./../img/svg/building.svg"),
    url("./../img/svg/icon-map.svg");
  background-repeat: no-repeat;
  background-position: 50% 40%, center;
  background-size: 2.4rem 2.4rem, contain;
}

.marker-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-direction: row-reverse;
}
.marker-text {
  font-size: 1.4rem;
  padding: 0.5rem 0.9rem;
  border-radius: 4rem;
  background-color: rgba(#fff, 0.8);
}

.burger {
  @include burger;
}
