<section class="about-hero">
  <div class="container">
    <div class="about-hero__container">
      <div class="about-hero__content">
        <div class="about-hero__header">
          <h2 class="title2 about-hero__title">
            мы перемена, диджитал агентство
          </h2>
        </div>
        <div class="about-hero__desc desc2">
          <p>Перемена&nbsp;— это&nbsp;движущая сила вашей бизнес-эволюции.</p>
          <p>
            Мы&nbsp;создаём не&nbsp;просто дизайн, SMM или&nbsp;маркетинговые
            кампании&nbsp;— мы&nbsp;проектируем цифровое будущее вашего бренда
            и&nbsp;воплощаем его&nbsp;в&nbsp;реальность уже&nbsp;сегодня.
          </p>
          <p>
            Наша философия: истинные перемены рождаются на&nbsp;стыке
            стратегического видения, креативного исполнения, технологий
            завтрашнего&nbsp;дня&nbsp;и&nbsp;функциональной лаконичности.
          </p>
          <p>
            Добро пожаловать в&nbsp;дизайн/SMM/маркетинг будущего
            в&nbsp;настоящем.
          </p>
        </div>
      </div>
      <div class="about-hero__img">
        <img src="./img/about-hero.webp" aria-hidden="true" alt="" />

        <div class="about-hero__union">
          <img src="./img/union.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
