<section class="blog">
  <div class="container">
    <div class="portfolio__header portfolio__header_blog flex jc-sb ai-c corner-smooth-40">
      <h2 class="title2 portfolio__title">блог</h2>
      <a href="#" class="link-btn portfolio__btn"> смотреть все </a>
    </div>
    <div class="blog__grid">
      <article class="blog__item blog-card">
        <div class="blog-card__img">
          <img src="./img/blog/01.webp" alt="">
        </div>
        <div class="blog-card__content">
          <a href="#" class="blog-card__title">
            как&nbsp;брендинг влияет на&nbsp;продажи и&nbsp;узнаваемость компании
          </a>
        </div>
      </article>
      <article class="blog__item blog-card">
        <div class="blog-card__img">
          <img src="./img/blog/02.webp" alt="">
        </div>
        <div class="blog-card__content">
          <a href="#" class="blog-card__title">
            статистики, графики, цифры
          </a>
        </div>
      </article>
      <article class="blog__item blog-card">
        <div class="blog-card__img">
          <img src="./img/blog/03.webp" alt="">
        </div>
        <div class="blog-card__content">
          <a href="#" class="blog-card__title">
            дизайн архитектуры, нюансы, секреты
          </a>
        </div>
      </article>
      <article class="blog__item blog-card">
        <div class="blog-card__img">
          <img src="./img/blog/02.webp" alt="">
        </div>
        <div class="blog-card__content">
          <a href="#" class="blog-card__title">
            статистики, графики, цифры
          </a>
        </div>
      </article>
      <article class="blog__item blog-card">
        <div class="blog-card__img">
          <img src="./img/blog/03.webp" alt="">
        </div>
        <div class="blog-card__content">
          <a href="#" class="blog-card__title">
            дизайн архитектуры, нюансы, секреты
          </a>
        </div>
      </article>

    </div>

  </div>
</section>
