<section class="clients">
  <div class="container">
    <div class="clients__header corner-smooth-40">
      <h2 class="title2 clients__title">клиенты</h2>
    </div>
    <div class="clients__desc corner-smooth-40 desc2">
      <p>
        Работаем с&nbsp;компаниями из&nbsp;разных сфер: от&nbsp;недвижимости
        и&nbsp;FMCG (товары повседневного спроса) до&nbsp;ритейла, HoReCa
        и&nbsp;производства.
      </p>
      <p>Находим решения для&nbsp;ваших задач, независимо от&nbsp;ниши.</p>
    </div>
    <div class="clients__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="clients__card corner-smooth-40">
            <img src="./img/clients/01.webp" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="clients__card corner-smooth-40">
            <img src="./img/clients/02.webp" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="clients__card corner-smooth-40">
            <img src="./img/clients/03.webp" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="clients__card corner-smooth-40">
            <img src="./img/clients/04.webp" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="clients__card corner-smooth-40">
            <img src="./img/clients/05.webp" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="clients__card corner-smooth-40">
            <img src="./img/clients/06.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
