<section class="context-hero">
  <div class="container">
    <div class="context-hero__container">
      <div class="context-hero__img">
        <picture>
          <source
            srcset="./img/context/hero-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <source srcset="./img/context/hero.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/context/hero.webp"
            class="image"
            width="1800"
            height="960"
            alt=""
          />
        </picture>
      </div>

      <div class="context-hero__content">
        <h1 class="title2 context-hero__title">ясный ответ в момент поиска</h1>

        <button class="btn-reset btn btn--accent context-hero__btn modal-btn">
          заказать
        </button>
      </div>
    </div>
  </div>
</section>
