<section class="context-complex">
  <div class="container">
    <div class="context-complex__container">
      <h2
        class="title2 context-complex__title context-complex__title_mob corner-smooth-40"
      >
        Мы предлагаем вам<br />
        полноценный комплекс услуг
      </h2>
      <div class="context-complex__img corner-smooth-40">
        <picture>
          <source
            srcset="./img/context/complex-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <source srcset="./img/context/complex.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/context/complex.webp"
            class="image"
            width="732"
            height="774"
            alt=""
          />
        </picture>
      </div>

      <div class="context-complex__content">
        <h2 class="title2 context-complex__title corner-smooth-40">
          Мы предлагаем вам<br />
          полноценный комплекс услуг
        </h2>

        <div class="context-complex__desc desc1 corner-smooth-40">
          <p>
            Обычно над контекстной рекламой работает 1 контекстолог. <br />
            Что не позволяет создать полноценный продукт для высокой конверсии.
          </p>

          <p>
            Работая с нами вы получаете опыт и команду которая подготовит для
            вас:
          </p>
          <ul>
            <li>продуманные дизайнерские баннеры</li>
            <li>цепляющие оферы</li>
            <li>маркетинговую стратегию</li>
            <li>отдельные сайты (посадочные страницы)</li>
          </ul>
          <p>Все это входит в стоимость ежемесячного ведения.</p>

          <p>
            <b>
              Именно такой подход позволит вам&nbsp;выделиться на&nbsp;фоне
              массива серой, однообразной рекламы.<br />
              И&nbsp;установить первый контакт с&nbsp;вашими клиентами.
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
