<section class="context-platform">
  <div class="container">
    <div class="context-platform__container">
      <h2
        class="title2 context-platform__title context-platform__title_mob corner-smooth-40"
      >
        площадки и технологии
      </h2>
      <div class="context-platform__content">
        <h2 class="title2 context-platform__title corner-smooth-40">
          площадки и технологии
        </h2>

        <div class="context-platform__desc desc1 corner-smooth-40">
          <p>
            Ваши объявления будут показываться в&nbsp;поисковой выдаче Яндекса,
            а&nbsp;также на&nbsp;сайтах и&nbsp;в&nbsp;приложениях, входящих<br />в&nbsp;Рекламную
            сеть Яндекса:
          </p>

          <ul>
            <li>Mail.ru</li>
            <li>Авито</li>
            <li>РБК</li>
            <li>Яндекс Почта</li>
            <li>Яндекс Погода</li>
            <li>Яндекс Дзен</li>

            <li>КиноПоиск</li>
            <li>IVI</li>
            <li>YouTube</li>
            <li>RuTube</li>
            <li>Другие</li>
          </ul>

          <p>
            Ещё&nbsp;реклама может отображаться на&nbsp;главной странице
            Яндекса, в&nbsp;новой вкладке браузера, в&nbsp;приложениях Яндекса
            и&nbsp;даже на&nbsp;телевизорах с&nbsp;Connected TV.
          </p>
        </div>
      </div>

      <div class="context-platform__img corner-smooth-40">
        <picture>
          <source
            srcset="./img/context/platform-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <source srcset="./img/context/platform.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/context/platform.webp"
            class="image"
            width="885"
            height="765"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
