<section class="context-desc">
  <div class="container">
    <h2 class="title2 context-desc__title corner-smooth-40">
      контекстная реклама
    </h2>

    <div class="context-desc__desc desc1 corner-smooth-40">
      <p>
        Настраиваем Яндекс.Директ так, чтобы ваше предложение видели не «все
        подряд», а только ваши потенциальные клиенты — в момент, когда у них
        возникает потребность. Это не просто «запуск рекламы», а создание
        отлаженной системы, которая:
      </p>

      <ul>
        <li>Появляется только там, где вас ищут.</li>
        <li>Только тем, кто вас ищет.</li>
        <li>
          Считает каждую копейку — и постоянно оптимизируется для снижения
          стоимости клиента.
        </li>
      </ul>

      <p>
        <b
          >В итоге, вы получаете прогнозируемый поток заявок и полную
          прозрачность расходов.</b
        >
      </p>
    </div>
  </div>
</section>
