<section class="context-work">
  <div class="container">
    <h2 class="title2 context-work__title">состав работ</h2>

    <div class="context-work__items">
      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">анализ бизнеса и ЦА</h3>
          <span>01</span>
        </div>
        <div class="context-step__desc desc1">
          <ul>
            <li>
              Изучаем ваш&nbsp;продукт, конкурентов и&nbsp;портрет целевой
              аудитории
            </li>
            <li>
              Определяем чёткую цель (заявка, звонок, переход
              в&nbsp;мессенджер&nbsp;и&nbsp;т.д.)
            </li>
          </ul>
        </div>
      </div>

      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">Сбор семантического ядра</h3>
          <span>02</span>
        </div>
        <div class="context-step__desc desc1">
          <ul>
            <li>Подбор ключевых слов</li>
            <li>Фильтрация (подбор минус-фраз)</li>
            <li>Кластеризация</li>
          </ul>
        </div>
      </div>

      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">
            создаем оферы и 3 посадочные страницы (сайта)<br />
            под каждую ЦА
          </h3>
          <span>03</span>
        </div>
        <div class="context-step__desc desc1">
          <p>
            Работаем по принципу: одна ЦА- один офер- одна посадочная страница
            под эту ЦА. И группа объявлений настроенная только под эту ЦА
          </p>
        </div>
      </div>

      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">написание объявлений</h3>
          <span>04</span>
        </div>
        <div class="context-step__desc desc1">
          <p>
            Формирование объявлений, которые будут привлекать внимание
            потенциальных клиентов
          </p>
        </div>
      </div>

      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">настройка условий показа</h3>
          <span>05</span>
        </div>
        <div class="context-step__desc desc1">
          <p>
            Работа с параметрами – время и регионы показа, устройства
            пользователей, возраст, корректировки и другие
          </p>
        </div>
      </div>

      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">запуск рекламной кампании</h3>
          <span>06</span>
        </div>
        <div class="context-step__desc desc1">
          <ul>
            <li>Прохождение модерации</li>
            <li>Старт показов</li>
          </ul>
        </div>
      </div>

      <div class="context-work__step context-step">
        <div class="context-step__header">
          <h3 class="context-step__title">настройка аналитики</h3>
          <span>07</span>
        </div>
        <div class="context-step__desc desc1">
          <ul>
            <li>Установка счетчика Яндекс Метрики</li>
            <li>Настройка целей</li>
          </ul>
        </div>
      </div>

      <div class="context-work__step context-step context-step_cols-3">
        <div class="context-step__header">
          <h3 class="context-step__title">
            ведение рекламной компании которая включает в себя:
          </h3>
          <span>08</span>
        </div>
        <div class="context-step__desc desc1">
          <div>
            <h5>Отслеживание показов</h5>
            <ul>
              <li>Контроль бюджета</li>
              <li>Напоминание о необходимости оплаты</li>
            </ul>
          </div>
          <div>
            <h5>Оптимизация рекламы</h5>
            <ul>
              <li>Чистка поисковых запросов и нерелевантных площадок показа</li>
              <li>Корректировка настроек рекламной кампании</li>
            </ul>
          </div>
          <div>
            <h5>Расширение рекламных кампаний</h5>
            <p>Настройка и запуск дополнительных объявлений.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
