<section class="context-add">
  <div class="container">
    <div class="context-add__container">
      <h2
        class="title2 context-add__title context-add__title_mob corner-smooth-40"
      >
        Контекстная реклама для&nbsp;вашей компании
      </h2>
      <div class="context-add__content">
        <h2 class="title2 context-add__title corner-smooth-40">
          Контекстная реклама для&nbsp;вашей компании
        </h2>
        <div class="context-add__info corner-smooth-40">
          <p class="context-add__desc desc1">
            Доверьте нам&nbsp;создание рекламы, которая станет вашим надёжным
            инструментом для&nbsp;привлечения целевых клиентов и&nbsp;повышения
            конверсии.
          </p>

          <div class="context-add__bottom">
            <div class="context-add__price">
              <span>*без ндс</span>
              40 000 р/мес
            </div>

            <button
              class="btn btn-reset btn--accent context-add__btn modal-btn"
            >
              заказать
            </button>
          </div>
        </div>
      </div>

      <div class="context-add__img corner-smooth-40">
        <picture>
          <source
            srcset="./img/context/add-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <source srcset="./img/context/add.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/context/add.webp"
            class="image"
            width="885"
            height="562"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
