<footer class="footer">
  <div class="container">
    <div class="footer__container corner-smooth-40">
      <div class="footer__left">
        <nav class="footer__nav f-nav">
          <div class="f-nav__capture">
            <a href="#" class="f-nav__link link-btn f-nav__link--main"
              >услуги</a
            >
          </div>
          <ul class="list-reset f-nav__list">
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">аудит</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">дизайн логотипа</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">брендинг</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">полиграфия</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">Дизайн упаковки</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">веб-дизайн</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">дизайн сайтов</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">Контекстная реклама</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">мерч</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">наружная реклама</a>
            </li>
          </ul>
        </nav>
        <nav class="footer__nav f-nav">
          <div class="f-nav__capture">
            <a href="#" class="f-nav__link link-btn f-nav__link--main"
              >Работы</a
            >
          </div>
          <ul class="list-reset">
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">дизайн логотипа</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">Брендинг</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">полиграфия</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">Дизайн упаковки</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">Веб-дизайн</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">дизайн сайтов</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">Контекстная реклама</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">мерч</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">наружная реклама</a>
            </li>
          </ul>
        </nav>
        <nav class="footer__nav f-nav">
          <div class="f-nav__capture">
            <a href="#" class="f-nav__link link-btn f-nav__link--main"
              >навигация</a
            >
          </div>
          <ul class="list-reset">
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">о нас</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">работы</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">услуги</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">цены</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">блог</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">контакты</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer__mob">
        <nav class="footer__nav f-nav">
          <div class="f-nav__capture">
            <a href="#" class="f-nav__link link-btn f-nav__link--main"
              >Информация</a
            >
          </div>
          <ul class="list-reset">
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">главная</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">о нас</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">работы</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">услуги</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">цены</a>
            </li>
            <li class="f-nav__item">
              <a href="#" class="f-nav__link link-btn">контакты</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer__right">
        <a href="./" class="logo footer__logo">
          <svg class="">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="header__socials">
          <ul class="list-reset">
            <li>
              <a href="#" target="_blank">
                <img src="./img/socials/tg.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img src="./img/socials/tg.svg" alt=""
              /></a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img src="./img/socials/tg.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
        <div class="footer__links">
          <a href="#" class="f-nav__link link-btn"
            >Политика обработки персональных данных</a
          >
          <a href="#" class="f-nav__link link-btn">Документация</a>
        </div>

        <div class="footer__mob">
          <a href="tel:+7 000 000 00 00" class="footer__sm">+7 000 000 00 00</a>
          <a href="tel:+7 000 000 00 00" class="footer__sm"
            >hello@peremena.ru</a
          >
        </div>

        <div class="footer__block">
          <small> не является публичной офертой </small>
          <small> ООО “Перемена”, 2025 © </small>
        </div>
      </div>

      <div class="footer__mob">
        <div class="footer__row">
          <a href="./" class="logo footer__logo">
            <svg class="">
              <use xlink:href="img/sprite.svg#logo"></use>
            </svg>
          </a>

          <div class="footer__col">
            <div class="footer__sm">
              <a href="tel:+7 000 000 00 00">+7 000 000 00 00</a>
            </div>
            <div class="footer__sm">
              <a href="mailto:hello@peremena.ru">hello@peremena.ru</a>
            </div>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__block">
            <small>
              ООО “Перемена”, 2025 ©<br />
              не&nbsp;является&nbsp;публичной&nbsp;офертой
            </small>
          </div>
          <a href="#" target="_blank" class="footer__sm footer__sm--right">
            Политика конфиденциальности
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
