<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Перемена</title>
  <link rel="preload" href="fonts/Commissioner-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Commissioner-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Commissioner-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Commissioner-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Geologica-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Geologica-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Geologica-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Geometria-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Leporid.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Roboto-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/SofiaSansExtraCondensed-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Ubuntu-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Ubuntu-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplay-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplay-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplay-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplay-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforText-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforText-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>