<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__row">
        <h1 class="hero__title title1">Маркетинг будущего в&nbsp;настоящем</h1>
        <div class="hero__overlay"></div>
      </div>
      <div class="hero__img">
        <img src="./img/hero-bg-mob.webp" aria-hidden="true" alt="" />
      </div>
      <div class="hero__row">
        <div class="hero__overlay hero__overlay--block corner-smooth-40"></div>
        <div class="hero__desc desc1 corner-smooth-40">
          <p>
            Мы агентство полного цикла, с собственной аналитикой, дизайном,
            медиа продакшн и маркетингом
          </p>
          <a href="#">узнать о&nbsp;нас побольше</a>
        </div>
      </div>
    </div>
  </div>
</section>
