<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__overlay"></div>
      <div class="hero__row">
        <h1 class="hero__title title1">
          дизайн, маректинг smm&nbsp;будущего в&nbsp;настоящем
        </h1>
      </div>
      <div class="hero__img">
        <img src="./img/hero-bg-mob.webp" aria-hidden="true" alt="" />
      </div>
      <div class="hero__row">
        <div class="hero__desc desc1 corner-smooth-40">
          <p>
            перемена&nbsp;&mdash; дизайн агентство, которое создаёт современный
            и&nbsp;лаконичный дизайн Рыбатекст используется дизайнерами,
            проектировщиками и&nbsp;фронтендерами, когда нужно быстро заполнить
            макеты или&nbsp;прототипы содержимым.
          </p>
          <a href="#">узнать о&nbsp;нас побольше</a>
        </div>
      </div>
    </div>
  </div>
</section>
