<div class="f-menu" data-menu>
  <div class="f-menu__body">
    <nav class="f-menu__nav nav">
      <ul>
        <li>
          <a href="#">о нас</a>
        </li>
        <li>
          <a href="#">рабооты</a>
        </li>
        <li>
          <a href="#">услуги</a>
        </li>
        <li>
          <a href="#">цены</a>
        </li>
        <li>
          <a href="#">контакты</a>
        </li>
      </ul>
    </nav>

    <button class="btn btn--light btn-reset f-menu__btn">Обратная связь</button>
  </div>
</div>
