<section class="partners">
  <div class="container">
    <div class="partners__header corner-smooth-40">
      <h2 class="title2 partners__title">наши партнеры</h2>
    </div>
    <div class="partners__container">
      <div class="partners__item">
        <div class="partners__item-img">
          <img loading="lazy" src="./img/mowo.webp" class="image" width="" height="" alt="">
        </div>
        <div class="partners__item-content">
          <div class="partners__item-top">
            <h5 class="partners__item-title">
              MOWO
            </h5>
            <p class="partners__item-about">архитектурное бюро</p>
            <p class="partners__item-desc desc1">
              Mowo (modern wonder) — это&nbsp;мультилисцеплинарное и&nbsp;децентрализованное бюро с&nbsp;лучшими специалистами из&nbsp;разных уголков планеты.
              Мы&nbsp;специализируемся на&nbsp;жилых и&nbsp;коммерческих пространствах и&nbsp;формируем их&nbsp;с&nbsp;глубоким вниманием к&nbsp;природе и&nbsp;социальным взаимодействиям людей.
            </p>
          </div>
          <div class="partners__item-links">
            <a href="#" class="partners__item-link link-btn">сайт</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
