<div class="plug">
  <div class="container">
    <div class="plug__container corner-smooth-40">
      <div class="plug__categories">
        <div>веб-дизайн</div>
        <div>дизайн сайта</div>
      </div>

      <div class="plug__links">
        <a href="#" target="_blank" class="plug_site">ссылка на сайт</a>

        <div class="plug__sources">
          <div class="plug__source">
            <a href="#" target="_blank">behance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
