<section class="portfolio portfolio--main">
  <div class="container">
    <div class="portfolio__header portfolio__header--main">
      <h2 class="title2 portfolio__title">
        дизайн<br />
        перемены
      </h2>

      <div class="portfolio__buttons">
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="all"
            checked
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            все проекты
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="brand"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            брендинг
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="design"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            дизайн упаковки
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="poligraph"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            полиграфия
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="preza"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            презентации
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="sites"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            дизайн сайтов
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="logo"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            Дизайн логотипа
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="adv"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            наружная реклама
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="merch"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            мерч
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="context"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            Контекстная реклама
          </div>
        </label>
        <label class="portfolio__label">
          <input
            type="checkbox"
            class="visually-hidden"
            name="категория"
            id="web"
          />
          <div class="portfolio__btn btn--grey btn-reset btn btn--small">
            Веб-дизайн
          </div>
        </label>
      </div>
    </div>
    <div class="portfolio__grid">
      <div class="portfolio__item p-item">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/01.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">сделкиpro</p>
          <ul class="list-reset p-item__list">
            <li>брендинг</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--dark">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/02.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">академия недвижимости</p>
          <ul class="list-reset p-item__list">
            <li>брендинг</li>
            <li>дизайн сайта</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--full p-item--dark">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/03.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">жк тихвинсикй</p>
          <ul class="list-reset p-item__list">
            <li>веб-дизайн</li>
            <li>полиграфия</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--full p-item--dark">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/04.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">Smart Technology Solutions</p>
          <ul class="list-reset p-item__list">
            <li>дизайн сайта</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--dark p-item--long">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/05.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">лукоморье</p>
          <ul class="list-reset p-item__list">
            <li>брендинг</li>
            <li>дизайн упаковки</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--dark">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/06.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">жк тимирязев</p>
          <ul class="list-reset p-item__list">
            <li>брендинг</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--full p-item--dark">
        <a href="#" class="p-item__link"></a>
        <div class="p-item__img">
          <img src="./img/portfolio/07.webp" alt="" />
        </div>
        <div class="p-item__content desc4">
          <p class="p-item__capture">вармощит</p>
          <ul class="list-reset p-item__list">
            <li>дизайн сайта</li>
          </ul>
        </div>
      </div>
      <div class="portfolio__item p-item p-item--all">
        <a href="#" class="p-item__link link-btn">
          смотреть все
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </a>
        <div class="p-item__content desc4">
          <p class="p-item__capture"></p>
        </div>
      </div>
    </div>
  </div>
</section>
