<section class="spec-about">
  <div class="container">
    <div class="spec-about__container">
      <div class="spec-about__content">
        <h2 class="title3 spec-about__title">
          разработка веб-сайта<br />гивиплей
        </h2>
        <div class="spec-about__desc desc1 desc1--300">
          <p>
            К&nbsp;нам обратился опытный креативный продюсер и&nbsp;режиссёр
            за&nbsp;созданием современной авторской платформы.<br />
            Мы&nbsp;разработали структуру сайта, каталог уроков, квиз-подбор
            и&nbsp;личный кабинет.<br />
            В&nbsp;итоге получился функциональный продукт, отражающий экспертный
            подход, ориентированный на&nbsp;результат.
          </p>
        </div>
      </div>

      <div class="spec-about__img">
        <picture>
          <source
            srcset="./img/givi/about-mob.webp"
            media="(max-width: 576px)"
            type="image/webp"
          />
          <source srcset="./img/givi/about.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/givi/about.webp"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
