<section class="spec-text">
  <div class="container">
    <div class="spec-text__container desc1 desc1--300">
      <p>
        Главная страница сразу задаёт позиционирование проекта&nbsp;—
        это&nbsp;не&nbsp;курс, а&nbsp;витрина практических решений.<br />
        Один урок = одно конкретное действие: смотри, внедряй и&nbsp;получай
        результат.
      </p>
      <p>
        Ключевые тезисы объясняют формат обучения и&nbsp;помогают быстро понять
        ценность продукта без&nbsp;лишней теории.
      </p>
    </div>
  </div>
</section>
