<section class="testi">
  <div class="container">
    <div class="testi__header corner-smooth-40">
      <h2 class="title2 testi__title">Клиенты о нас</h2>
    </div>
  </div>

  <div class="testi__slider">
    <div class="testi__item">
      <div class="testi__item-img corner-smooth-40">
        <img src="./img/testi/01.webp" alt="дмитрий бондаренко">
      </div>
      <div class="testi__item-content corner-smooth-40">
        <div class="testi__item-top">
          <p class="testi__item-name">дмитрий бондаренко</p>
          <p class="testi__item-prof">генеральный директор сделки.pro</p>

          <div class="testi__item-desc">
            <p>
              «Агентство „Перемена“ провело для&nbsp;нас&nbsp;комплексный ребрендинг. Результат превзошёл ожидания:
              мы&nbsp;получили
              не&nbsp;просто новый логотип, а&nbsp;сильный и&nbsp;современный бренд, который уже&nbsp;оценили наши
              клиенты.<br>
              Спасибо за&nbsp;профессионализм и&nbsp;стратегический подход! Рекомендуем».
            </p>
          </div>
        </div>

        <div class="testi__item-bottom">
          <button class="btn-reset link-btn testi__item-btn">
            читать дальше
          </button>
        </div>
      </div>
    </div>

    <div class="testi__item">
      <div class="testi__item-img corner-smooth-40">
        <video src="#" poster="./img/testi/03.webp" preload="metadata"></video>
        <button class="btn-reset testi__item-play">
          <svg width="61" height="68" viewBox="0 0 61 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M56.25 26.6315C61.5833 29.7107 61.5833 37.4087 56.25 40.4879L12 66.0356C6.66666 69.1148 -2.69192e-07 65.2658 0 59.1074L2.23346e-06 8.01193C2.50265e-06 1.85353 6.66667 -1.99547 12 1.08373L56.25 26.6315Z" />
          </svg>
        </button>
      </div>
      <div class="testi__item-content ">
        <div class="testi__item-top">
          <p class="testi__item-name">дмитрий бондаренко</p>
          <p class="testi__item-prof">генеральный директор сделки.pro</p>

          <div class="testi__item-desc">
            <p>
              «Агентство „Перемена“ провело для&nbsp;нас&nbsp;комплексный ребрендинг. Результат превзошёл ожидания:
              мы&nbsp;получили
              не&nbsp;просто новый логотип, а&nbsp;сильный и&nbsp;современный бренд, который уже&nbsp;оценили наши
              клиенты.<br>
              Спасибо за&nbsp;профессионализм и&nbsp;стратегический подход! Рекомендуем».
            </p>
          </div>
        </div>

        <div class="testi__item-bottom">
          <button class="btn-reset link-btn testi__item-btn">
            читать дальше
          </button>
        </div>
      </div>
    </div>

    <div class="testi__item">
      <div class="testi__item-img corner-smooth-40">
        <img src="./img/testi/01.webp" alt="дмитрий бондаренко">
      </div>
      <div class="testi__item-content corner-smooth-40">
        <div class="testi__item-top">
          <p class="testi__item-name">дмитрий бондаренко</p>
          <p class="testi__item-prof">генеральный директор сделки.pro</p>

          <div class="testi__item-desc">
            <p>
              «Агентство „Перемена“ провело для&nbsp;нас&nbsp;комплексный ребрендинг. Результат превзошёл ожидания:
              мы&nbsp;получили
              не&nbsp;просто новый логотип, а&nbsp;сильный и&nbsp;современный бренд, который уже&nbsp;оценили наши
              клиенты.<br>
              Спасибо за&nbsp;профессионализм и&nbsp;стратегический подход! Рекомендуем».
            </p>
          </div>
        </div>

        <div class="testi__item-bottom">
          <button class="btn-reset link-btn testi__item-btn">
            читать дальше
          </button>
        </div>
      </div>
    </div>

    <div class="testi__item">
      <div class="testi__item-img corner-smooth-40">
        <img src="./img/testi/01.webp" alt="дмитрий бондаренко">
      </div>
      <div class="testi__item-content corner-smooth-40">
        <div class="testi__item-top">
          <p class="testi__item-name">дмитрий бондаренко</p>
          <p class="testi__item-prof">генеральный директор сделки.pro</p>

          <div class="testi__item-desc">
            <p>
              «Агентство „Перемена“ провело для&nbsp;нас&nbsp;комплексный ребрендинг. Результат превзошёл ожидания:
              мы&nbsp;получили
              не&nbsp;просто новый логотип, а&nbsp;сильный и&nbsp;современный бренд, который уже&nbsp;оценили наши
              клиенты.<br>
              Спасибо за&nbsp;профессионализм и&nbsp;стратегический подход! Рекомендуем».
            </p>
          </div>
        </div>

        <div class="testi__item-bottom">
          <button class="btn-reset link-btn testi__item-btn">
            читать дальше
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
