*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: calc(100vw / 192);

  @media (min-width: 1920px) {
    font-size: 10px;
  }

  @media (max-width: 600px) {
    font-size: calc(100vw / 57.6);
  }
}
.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background-color: #f3f3f3;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in;
  @include mobile {
    align-items: flex-start;
    overflow-y: auto;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  .cta {
    width: 100%;

    &__container {
      position: relative;
    }
  }
  &__close {
    position: absolute;
    right: 2rem;
    top: -6rem;
    z-index: 6;
    width: 2.8rem;
    height: 2.8rem;
    svg {
      width: 100%;
      height: 100%;
    }

    @include mobile {
      position: static;
      display: flex;
    }
    &--md {
      @include mobile {
        display: none;
      }
    }
  }
  .cta__header {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .modal__form {
    border-radius: 4rem;
    padding: 6rem;
    background-color: var(--white);

    @include mobile {
      padding: 4rem;
    }
  }
}

.just-validate-error-label {
  display: none;
}
